{{define "template/leftsidebar"}}

<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image">
            <img src="/asset/images/user.png" width="48" height="48" alt="User" />
        </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</div>
            <div class="email">admin@gmail.com</div>
            <div class="btn-group user-helper-dropdown">
                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
{{/*                    <li role="separator" class="divider"></li>*/}}
{{/*                    <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>*/}}
{{/*                    <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>*/}}
{{/*                    <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>*/}}
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout"><i class="material-icons">input</i>Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a href="/">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </a>
            </li>

            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">transform</i>
                    <span>Transaksi</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="/order-pending">Pending</a>
                    </li>
                    <li>
                        <a href="/order-success">Success</a>
                    </li>
                    <li>
                        <a href="/order-cancel">Cancel</a>
                    </li>
                    <li>
                        <a href="/tiket-refund">Refund Tiket</a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="/notification">
                    <i class="material-icons">notifications</i>
                    <span>Notification</span>
                </a>
            </li>

            <li>
                <a href="/event">
                    <i class="material-icons">slideshow</i>
                    <span>Event</span>
                </a>
            </li>
            <li>
                <a href="/sentimen">
                    <i class="material-icons">signal_cellular_alt</i>
                    <span>Analytic Performer</span>
                </a>
            </li>

            <li>
                <a href="/band">
                    <i class="material-icons">music_note</i>
                    <span>Band</span>
                </a>
            </li>





        </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy;  <a href="javascript:void(0);">372 Ragam Imaji</a>.
        </div>
        <div class="version">
            <b>Version: </b> 1.0.0
        </div>
    </div>
    <!-- #Footer -->
</aside>
<!-- #END# Left Sidebar -->
{{end}}