{{define "template/userhead"}}
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Specer Template">
        <meta name="keywords" content="Specer, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{- .title}}</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="asset/css/user-theme/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="asset/css/user-theme/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="asset/css/user-theme/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="asset/css/user-theme/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="asset/css/user-theme/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="asset/css/user-theme/style.css" type="text/css">

        {{- range $i, $v := .css }}
            <link href="{{$v}}.css" rel="stylesheet" />
        {{- end }}
    </head>

{{end}}