{{define "user/home"}}
    <!DOCTYPE html>
    <html lang="zxx">

    {{template "template/userhead" .}}


    <body>
    {{/*    src="asset/plugins/datatables/datatables.js"*/}}
    {{template "template/usernavbar" .}}

    <!-- Popular News Section Begin -->
    <section class="soccer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h3>Popular <span>Post</span></h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="news-item popular-item set-bg" data-setbg="https://bandungpremierleague.com/wp-content/uploads/elementor/thumbs/87556212_801486470363228_1106461831431206892_n-omin5npt7914pody19y8u51b1ut9lsfx75x1kmykrk.jpg">
                                <div class="ni-tag tenis">Breaking News</div>
                                <div class="ni-text">
                                    <h5><a href="#">Bandung Premier Leanguage</a></h5>
{{/*                                    <ul>*/}}
{{/*                                        <li><i class="fa fa-calendar"></i> May 19, 2019</li>*/}}
{{/*                                        <li><i class="fa fa-edit"></i> 3 Comment</li>*/}}
{{/*                                    </ul>*/}}
                                </div>
                            </div>
{{/*                            <div class="news-item">*/}}
{{/*                                <div class="ni-pic">*/}}
{{/*                                    <img src="img/news/ln-1.jpg" alt="">*/}}
{{/*                                </div>*/}}
{{/*                                <div class="ni-text">*/}}
{{/*                                    <h5><a href="#">There’s a great history of the winner Sandia</a></h5>*/}}
{{/*                                    <ul>*/}}
{{/*                                        <li><i class="fa fa-calendar"></i> May 19, 2019</li>*/}}
{{/*                                        <li><i class="fa fa-edit"></i> 3 Comment</li>*/}}
{{/*                                    </ul>*/}}
{{/*                                </div>*/}}
{{/*                            </div>*/}}

                        </div>
                        <div class="col-md-6">
                            <div class="news-item popular-item set-bg" data-setbg="https://bandungpremierleague.com/wp-content/uploads/elementor/thumbs/89438589_496017407709200_5595632263198332693_n-omincmopw0kotk9ebsfmtvpdnqg9oz495o3opimgm8.jpg">
                                <div class="ni-tag football">Hiring</div>
                                <div class="ni-text">
                                    <h5><a href="#"></a></h5>

                                </div>
                            </div>
{{/*                            <div class="news-item">*/}}
{{/*                                <div class="ni-pic">*/}}
{{/*                                    <img src="img/news/ln-5.jpg" alt="">*/}}
{{/*                                </div>*/}}
{{/*                                <div class="ni-text">*/}}
{{/*                                    <h5><a href="#">Le Havre does have a growing fan club</a></h5>*/}}
{{/*                                    <ul>*/}}
{{/*                                        <li><i class="fa fa-calendar"></i> May 19, 2019</li>*/}}
{{/*                                        <li><i class="fa fa-edit"></i> 3 Comment</li>*/}}
{{/*                                    </ul>*/}}
{{/*                                </div>*/}}
{{/*                            </div>*/}}

                        </div>
                    </div>

                    <div class="follow-links">
                        <ul>
                            <li class="facebook">
                                <i class="fa fa-facebook"></i>
                                <div class="fl-name">Facebook</div>
                                <span class="fl-fan">2.530 Fans</span>
                            </li>
                            <li class="twitter">
                                <i class="fa fa-twitter"></i>
                                <div class="fl-name">Twitter</div>
                                <span class="fl-fan">2.046 Fans</span>
                            </li>
                            <li class="google">
                                <i class="fa fa-google"></i>
                                <div class="fl-name">Google</div>
                                <span class="fl-fan">1.170 Fans</span>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="section-title">
                        <h3>Klasemen <span>Sementara</span></h3>
                    </div>
                    <div class="points-table mt-5">
                        <table id="table-klasemen"  class="table-striped">
                            <thead>
                            <tr>
                                <th class="th-o">Rank</th>
                                <th >Team & Manager</th>
                                <th class="th-o">Point</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td class="team-name">
                                    <img src="img/flag/flag-1.jpg" alt="">
                                    <span>Afghanis</span>
                                </td>
                                <td>22</td>
                            </tr>

                            </tbody>
                        </table>
                        <a href="/klasemen" class="p-all">View All</a>
                    </div>


                </div>

            </div>
        </div>
    </section>
    <!-- Popular News Section End -->


    <!-- Latest Section Begin -->
    <section class="video-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="section-title ">
                        <h3>Best Player <span>Last Week</span></h3>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="points-table">
                                <h4>Goal Keeper</h4>
                                <table id="table-klasemen"  class="table-striped">
                                    <thead>
                                    <tr>
                                        <th class="th-o">Rank</th>
                                        <th class="th-o">Player</th>
                                        <th class="th-o">Club</th>
                                        <th class="th-o">Point</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{- range $i,$v := .playerGK}}
                                        <tr>
                                            <td>{{$v.rank}}</td>
                                            <td class="team-name">
                                                <img style='width: 25px; height: 35px;' src="{{$v.jersey}}" alt="">
                                                <span>{{$v.nama_player}}</span>
                                            </td>
                                            <td>{{$v.nama_team}}</td>
                                            <td>{{$v.point}}</td>
                                        </tr>
                                    {{- end}}


                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="points-table">
                                <h4>Defender</h4>
                                <table id="table-klasemen"  class="table-striped">
                                    <thead>
                                    <tr>
                                        <th class="th-o">Rank</th>
                                        <th class="th-o">Player</th>
                                        <th class="th-o">Club</th>
                                        <th class="th-o">Point</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{- range $i,$v := .playerDef}}
                                        <tr>
                                            <td>{{$v.rank}}</td>
                                            <td class="team-name">
                                                <img style='width: 25px; height: 35px;' src="{{$v.jersey}}" alt="">
                                                <span>{{$v.nama_player}}</span>
                                            </td>
                                            <td>{{$v.nama_team}}</td>
                                            <td>{{$v.point}}</td>
                                        </tr>
                                    {{- end}}


                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="points-table">
                                <h4>Midfielder</h4>
                                <table id="table-klasemen"  class="table-striped">
                                    <thead>
                                    <tr>
                                        <th class="th-o">Rank</th>
                                        <th class="th-o">Player</th>
                                        <th class="th-o">Club</th>
                                        <th class="th-o">Point</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{- range $i,$v := .playerMid}}
                                        <tr>
                                            <td>{{$v.rank}}</td>
                                            <td class="team-name">
                                                <img style='width: 25px; height: 35px;' src="{{$v.jersey}}" alt="">
                                                <span>{{$v.nama_player}}</span>
                                            </td>
                                            <td>{{$v.nama_team}}</td>
                                            <td>{{$v.point}}</td>
                                        </tr>
                                    {{- end}}


                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="points-table">
                                <h4>Forward</h4>
                                <table id="table-klasemen"  class="table-striped">
                                    <thead>
                                    <tr>
                                        <th class="th-o">Rank</th>
                                        <th class="th-o">Player</th>
                                        <th class="th-o">Club</th>
                                        <th class="th-o">Point</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{- range $i,$v := .playerFwd}}
                                        <tr>
                                            <td>{{$v.rank}}</td>
                                            <td class="team-name">
                                                <img  style='width: 25px; height: 35px;' src="{{$v.jersey}}" alt="">
                                                <span>{{$v.nama_player}}</span>
                                            </td>
                                            <td>{{$v.nama_team}}</td>
                                            <td>{{$v.point}}</td>
                                        </tr>
                                    {{- end}}

                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                 </div>
            </div>
        </div>

    </section>
    <!-- Latest Section End -->

    <!-- Video Section Begin -->
    <section class="popular-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3>Hot <span>Videos</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="video-slider owl-carousel">
{{/*                    <div class="col-lg-3">*/}}
{{/*                        <!-- 4:3 aspect ratio -->*/}}
{{/*                        <div class="embed-responsive embed-responsive-4by3">*/}}
{{/*                            <iframe id="existing-iframe-example"*/}}
{{/*                                    src="https://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1"*/}}
{{/*                                    frameborder="0"*/}}
{{/*                            ></iframe>*/}}
{{/*                        </div>*/}}
{{/*                    </div>*/}}
{{/*                    <div class="col-lg-3">*/}}
{{/*                        <!-- 4:3 aspect ratio -->*/}}
{{/*                        <div class="embed-responsive embed-responsive-4by3">*/}}
{{/*                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>*/}}
{{/*                        </div>*/}}
{{/*                    </div>*/}}
{{/*                    <div class="col-lg-3">*/}}
{{/*                        <!-- 4:3 aspect ratio -->*/}}
{{/*                        <div class="embed-responsive embed-responsive-4by3">*/}}
{{/*                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>*/}}
{{/*                        </div>*/}}
{{/*                    </div>*/}}
{{/*                    <div class="col-lg-3">*/}}
{{/*                        <!-- 4:3 aspect ratio -->*/}}
{{/*                        <div class="embed-responsive embed-responsive-4by3">*/}}
{{/*                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>*/}}
{{/*                        </div>*/}}
{{/*                    </div>*/}}
                </div>
            </div>
        </div>
    </section>
    <!-- Video Section End -->





    {{template "template/footeruser" .}}


    </body>

    </html>
{{end}}