{{define "user/klasemen"}}
    <!DOCTYPE html>
    <html lang="zxx">

    {{template "template/userhead" .}}


    <body>
    {{/*    src="asset/plugins/datatables/datatables.js"*/}}
    {{template "template/usernavbar" .}}

    <!-- Latest Section Begin -->
    <section class="soccer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="section-title latest-title">
                        <h3>Klasemen<span>Untuk Match Week:</span> </h3>
                        <select class="form-control" id="select-mw">
                            <option  value=""> Keseluruhan..</option>
                            {{- range $i,$v := .match_week}}
                                <option  value="{{$v.id_mw}}">{{$v.nama_liga}} - {{$v.nama_mw}}</option>
                            {{- end}}
                        </select>

                    </div>


                    <div class="points-table">
                        <h4>Klasemen</h4>
                        <table id="table-klasemen"  class="table-striped">
                            <thead>
                            <tr>
                                <th class="th-o">Rank</th>
                                <th >Team & Manager</th>
                                <th class="th-o">Tot</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td class="team-name">
                                    <img src="img/flag/flag-1.jpg" alt="">
                                    <span>Afghanis</span>
                                </td>
                                <td>22</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <input id="id-user" type="hidden" value="{{ .user.id_user}}">
                <input id="id-mw" type="hidden"value="{{ .id_mw}}">


            </div>
        </div>
    </section>
    <!-- Latest Section End -->




    {{template "template/footeruser" .}}


    </body>

    </html>
{{end}}