{{define "user/my_team"}}
    <!DOCTYPE html>
    <html lang="zxx">

    {{template "template/userhead" .}}


    <body>

    {{template "template/usernavbar" .}}


    <!-- Latest Section Begin -->
    <section class="soccer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title latest-title">
                        <h3>Team <span>mochafiqri FC</span></h3>
                        <ul>
                            <li>Edit</li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="points-table">
                                <h4>Goal Keeper </h4>
                                <table id="table-gk">
                                    <thead>
                                    <tr>
                                        <th class="th-o">Pos</th>
                                        <th class="th-o">Team</th>
                                        <th class="th-o">Nama Player</th>
                                        <th class="th-o">Posisi</th>
                                        <th class="th-o">Pts</th>
                                        <th class="th-o">Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-12 mt-3" >
                            <div class="points-table">
                                <h4>Defender</h4>
                                <table id="table-def">
                                    <thead>
                                    <tr>
                                        <th class="th-o">Pos</th>
                                        <th class="th-o">Team</th>
                                        <th class="th-o">Nama Player</th>
                                        <th class="th-o">Posisi</th>
                                        <th class="th-o">Pts</th>
                                        <th class="th-o">Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td class="team-name">
                                            <img src="img/flag/flag-1.jpg" alt="">
                                            <span>Afghanis</span>
                                        </td>
                                        <td class="team-name">Mochamad Fiqri</td>
                                        <td>GK</td>
                                        <td>5</td>
                                        <td>72</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td class="team-name">
                                            <img src="img/flag/flag-2.jpg" alt="">
                                            <span>Australia</span>
                                        </td>
                                        <td class="team-name">Mochamad Fiqri</td>
                                        <td>GK</td>
                                        <td>4</td>
                                        <td>71</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td class="team-name">
                                            <img src="img/flag/flag-2.jpg" alt="">
                                            <span>Australia</span>
                                        </td>
                                        <td class="team-name">Mochamad Fiqri</td>
                                        <td>GK</td>
                                        <td>4</td>
                                        <td>71</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td class="team-name">
                                            <img src="img/flag/flag-2.jpg" alt="">
                                            <span>Australia</span>
                                        </td>
                                        <td class="team-name">Mochamad Fiqri</td>
                                        <td>GK</td>
                                        <td>4</td>
                                        <td>71</td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-12 mt-3" >
                            <div class="points-table">
                                <h4>Midfilder</h4>
                                <table id="table-mid">
                                    <thead>
                                    <tr>
                                        <th class="th-o">Pos</th>
                                        <th class="th-o">Team</th>
                                        <th class="th-o">Nama Player</th>
                                        <th class="th-o">Posisi</th>
                                        <th class="th-o">Pts</th>
                                        <th class="th-o">Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td class="team-name">
                                            <img src="img/flag/flag-1.jpg" alt="">
                                            <span>Afghanis</span>
                                        </td>
                                        <td class="team-name">Mochamad Fiqri</td>
                                        <td>GK</td>
                                        <td>5</td>
                                        <td>72</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td class="team-name">
                                            <img src="img/flag/flag-2.jpg" alt="">
                                            <span>Australia</span>
                                        </td>
                                        <td class="team-name">Mochamad Fiqri</td>
                                        <td>GK</td>
                                        <td>4</td>
                                        <td>71</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td class="team-name">
                                            <img src="img/flag/flag-2.jpg" alt="">
                                            <span>Australia</span>
                                        </td>
                                        <td class="team-name">Mochamad Fiqri</td>
                                        <td>GK</td>
                                        <td>4</td>
                                        <td>71</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td class="team-name">
                                            <img src="img/flag/flag-2.jpg" alt="">
                                            <span>Australia</span>
                                        </td>
                                        <td class="team-name">Mochamad Fiqri</td>
                                        <td>GK</td>
                                        <td>4</td>
                                        <td>71</td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-12 mt-3" >
                            <div class="points-table">
                                <h4>Forward</h4>
                                <table id="table-fwd">
                                    <thead>
                                    <tr>
                                        <th class="th-o">Pos</th>
                                        <th class="th-o">Team</th>
                                        <th class="th-o">Nama Player</th>
                                        <th class="th-o">Posisi</th>
                                        <th class="th-o">Pts</th>
                                        <th class="th-o">Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td class="team-name">
                                            <img src="img/flag/flag-1.jpg" alt="">
                                            <span>Afghanis</span>
                                        </td>
                                        <td class="team-name">Mochamad Fiqri</td>
                                        <td>GK</td>
                                        <td>5</td>
                                        <td>72</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td class="team-name">
                                            <img src="img/flag/flag-2.jpg" alt="">
                                            <span>Australia</span>
                                        </td>
                                        <td class="team-name">Mochamad Fiqri</td>
                                        <td>GK</td>
                                        <td>4</td>
                                        <td>71</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td class="team-name">
                                            <img src="img/flag/flag-2.jpg" alt="">
                                            <span>Australia</span>
                                        </td>
                                        <td class="team-name">Mochamad Fiqri</td>
                                        <td>GK</td>
                                        <td>4</td>
                                        <td>71</td>
                                    </tr>



                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section-title">
                        <h3>Club <span>Ranking</span></h3>
                    </div>
                    <div class="points-table mt-5">
                        <table>
                            <thead>
                            <tr>
                                <th class="th-o">Pos</th>
                                <th>Team</th>
                                <th class="th-o">P</th>
                                <th class="th-o">W</th>
                                <th class="th-o">L</th>
                                <th class="th-o">PTS</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td class="team-name">
                                    <img src="img/flag/flag-1.jpg" alt="">
                                    <span>Afghanis</span>
                                </td>
                                <td>22</td>
                                <td>2</td>
                                <td>5</td>
                                <td>72</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="team-name">
                                    <img src="img/flag/flag-2.jpg" alt="">
                                    <span>Australia</span>
                                </td>
                                <td>20</td>
                                <td>3</td>
                                <td>4</td>
                                <td>71</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="team-name">
                                    <img src="img/flag/flag-3.jpg" alt="">
                                    <span>Qatar</span>
                                </td>
                                <td>18</td>
                                <td>4</td>
                                <td>4</td>
                                <td>68</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="team-name">
                                    <img src="img/flag/flag-4.jpg" alt="">
                                    <span>Cambodia</span>
                                </td>
                                <td>17</td>
                                <td>2</td>
                                <td>7</td>
                                <td>64</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="team-name">
                                    <img src="img/flag/flag-5.jpg" alt="">
                                    <span>Uzbekistan</span>
                                </td>
                                <td>17</td>
                                <td>2</td>
                                <td>6</td>
                                <td>60</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td class="team-name">
                                    <img src="img/flag/flag-6.jpg" alt="">
                                    <span>Turkme</span>
                                </td>
                                <td>161</td>
                                <td>1</td>
                                <td>8</td>
                                <td>57</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td class="team-name">
                                    <img src="img/flag/flag-7.jpg" alt="">
                                    <span>Sri Lanka</span>
                                </td>
                                <td>15</td>
                                <td>4</td>
                                <td>8</td>
                                <td>52</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td class="team-name">
                                    <img src="img/flag/flag-8.jpg" alt="">
                                    <span>Myanmar</span>
                                </td>
                                <td>14</td>
                                <td>3</td>
                                <td>7</td>
                                <td>48</td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="#" class="p-all">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Section End -->




    {{template "template/footeruser" .}}

    </body>

    </html>
{{end}}