{{define "user/my_team2"}}
    <!DOCTYPE html>
    <html lang="zxx">

    {{template "template/userhead" .}}


    <body>
{{/*    src="asset/plugins/datatables/datatables.js"*/}}
    {{template "template/usernavbar" .}}

    <!-- Latest Section Begin -->
    <section class="soccer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title latest-title">
                        <h3>Team <span class="text-capitalize">{{ .user.nama_team_fantasy}}</span></h3>
                        <ul>
                            <li>Edit</li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="points-table">
                                <h4>Goal Keeper </h4>
                                <table id="table-gk">
                                    <thead>
                                    <tr>
                                        <th class="th-o">Posisi</th>
                                        <th class="th-o">Team</th>
                                        <th class="th-o">Nama Player</th>
                                        <th class="th-o">No</th>
                                        <th class="th-o">Grade</th>
                                        <th class="th-o">Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-12 mt-3" >
                            <div class="points-table">
                                <h4>Defender</h4>
                                <table id="table-def">
                                    <thead>
                                    <tr>
                                        <th class="th-o">Posisi</th>
                                        <th class="th-o">Team</th>
                                        <th class="th-o">Nama Player</th>
                                        <th class="th-o">No</th>
                                        <th class="th-o">Grade</th>
                                        <th class="th-o">Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-12 mt-3" >
                            <div class="points-table">
                                <h4>Midfilder</h4>
                                <table id="table-mid">
                                    <thead>
                                    <tr>
                                        <th class="th-o">Posisi</th>
                                        <th class="th-o">Team</th>
                                        <th class="th-o">Nama Player</th>
                                        <th class="th-o">No</th>
                                        <th class="th-o">Grade</th>
                                        <th class="th-o">Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-12 mt-3" >
                            <div class="points-table">
                                <h4>Forward</h4>
                                <table id="table-fwd">
                                    <thead>
                                    <tr>
                                        <th class="th-o">Posisi</th>
                                        <th class="th-o">Team</th>
                                        <th class="th-o">Nama Player</th>
                                        <th class="th-o">No</th>
                                        <th class="th-o">Grade</th>
                                        <th class="th-o">Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>



                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <input id="id-user" type="hidden" value="{{ .user.id_user}}">
                <input id="id-mw" type="hidden"value="{{ .id_mw}}">

                <div class="col-lg-4">
                    <div class="section-title">
                        <h3>Club <span>Ranking</span></h3>
                    </div>
                    <div class="points-table" style="margin-top: -14px">
                        <table id="table-allPlayer">
                            <thead>
                            <tr>
                                <th class="th-o">No</th>
                                <th >Player</th>
                                <th class="th-o">No</th>
                                <th class="th-o">Grade</th>
                                <th class="th-o">Aksi</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td class="team-name">
                                    <img src="img/flag/flag-1.jpg" alt="">
                                    <span>Afghanis</span>
                                </td>
                                <td>22</td>
                                <td>2</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Section End -->


<div class="modal fade" id="transferModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title title-modal" id="defaultModalLabel" >Transfer</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="player_out" >
                    <div class="points-table">
                        <table id="table-trf" width="100%">
                            <thead>
                            <tr>
                                <th class="th-o">No</th>
                                <th class="th-o">Team</th>
                                <th class="th-o">Nama Player</th>
                                <th class="th-o">Posisi</th>
                                <th class="th-o">Grade</th>
                                <th class="th-o">Aksi</th>
                            </tr>
                            </thead>
                            <tbody>



                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </div>
    </div>
</div>


    {{template "template/footeruser" .}}


    </body>

    </html>
{{end}}