{{define "login/index"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Login</title>
    <!-- Favicon-->
    <link rel="icon" href="/asset/images/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/asset/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="/asset/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="/asset/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Sweet Alert Css -->
    <link href="/asset/plugins/sweetalert/sweetalert.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="/asset/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="/asset/css/themes/all-themes.css" rel="stylesheet" />
</head>

<body class="login-page"
      style="background-image: url('https://bandungpremierleague.com/wp-content/themes/splash/assets/images/tmp/af/bg-error-404.jpg');
background-size: cover;
">
<div class="login-box">
        <div class="logo text-center" >
            <a href="/home">Fantasy<b> BPL</b></a>
            <small>created By mochafiqri</small>

            <a href="/home"><img
                    src="https://bandungpremierleague.com/wp-content/uploads/2020/01/logos-bpl.png"
                    style="width: 100px;"
                    title=""
                    alt=""
                /></a>
        </div>

    <div class="row">

        <div class="col-md-12 card-login ">
            <div class="card " >
                <div class="body">
                    <form id="frm" method="POST" action="/login">
                        <div class="msg">Sign in and Make Your Fantasy Team</div>
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                            <div class="form-line">
                                <input type="text" class="form-control" name="user" placeholder="Username / Email" required autofocus>
                            </div>
                        </div>
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                            <div class="form-line">
                                <input type="password" class="form-control" name="password" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 p-t-5">
                                <a href="#" class="signup_text text-primary" >Buat Akun</a>
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-block bg-pink waves-effect" type="submit">MASUK</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>

        <div class="col-md-12 card-signup ">
            <div class="card ">
                <div class="body" >
                    <form id="frmRegister" method="POST" action="/user/api/register">
                        <div class="msg">Sign up and Make Your Fantasy Team</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label>Nama</label>
                                        <input type="text" class="form-control" name="nama" placeholder="Nama" required autofocus>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <div class="form-line">
                                        <label>username</label>
                                        <input type="text" class="form-control" name="username" placeholder="Username" required>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <div class="form-line">
                                        <label>Email</label>
                                        <input type="text" class="form-control" name="email" placeholder="E-mail" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label>No Hp</label>
                                        <input type="text" class="form-control" name="no_hp" placeholder="No Handphone" required autofocus>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="jenis_kelamin" id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            Laki-Laki
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="jenis_kelamin" id="exampleRadios2" value="option2">
                                        <label class="form-check-label" for="exampleRadios2">
                                            Perempuan
                                        </label>
                                    </div>
                                </div>

                                <div class="input-group">

                                    <div class="form-line">
                                        <label>Password</label>
                                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-8 p-t-5">
                                <a href="#" class="signin_text text-primary" >Sudah Punya Akun ?</a>
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-block bg-pink waves-effect" type="submit">DAFTAR</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- Jquery Core Js -->
<script src="/asset/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="/asset/plugins/bootstrap/js/bootstrap.js"></script>

<!-- Select Plugin Js -->
<script src="/asset/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="/asset/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="/asset/plugins/node-waves/waves.js"></script>


<!-- Bootstrap Notify Plugin Js -->
<script src="/asset/plugins/bootstrap-notify/bootstrap-notify.js"></script>


<!-- Custom Js -->
<script src="/asset/js/admin.js"></script>
<script src="/asset/js/pages/ui/notifications.js"></script>
<script src="/asset/js/main/login.js"></script>

<!-- Demo Js -->
<script src="/asset/js/demo.js"></script>
</body>

</html>

{{end}}